
	<h1><%= t('page.admin_auth_welcome_header')%></h1>
	
	<p><%= t('page.admin_auth_welcome')%></p>
	
	<%= form_for(:session, :url => sessions_path) do |f| %>
	
	  <div class="div-field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  </div>
	  <div class="div-field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>
	  <div class="div-actions">
	    <%= f.submit t('buttons.enter') %>
	  </div>
	<% end %>
	
	<div class="div-field"><%= link_to t('helpers.password_recovery'), reset_path %></div><br/><br/>

