<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= t('emailer.header') %> <%= @user.name %>!</p>
    <p>
      <%= t('emailer.pass_reset.body') %>
      <br/>
      <a href="<%= @url %>"><%= @url %></a>
    </p>
    <br/>
    
    <p><%= t('emailer.footer') %></p>
  </body>
</html>