<% content_for :title, @article.name %>
<% content_for :metadescription, @main.metadescription %>
<% content_for :metakeywords, @main.metakeywords %>
<% content_for :head do %>
  <%= raw @main.head %>
<% end %>

<div class="div-content">
	<h1><%= raw @article.name %></h1>
	<div class='div-date-article'><%=t('field.article_date') %>: <%= @article.date.strftime(t('date.formats.default')) %></div>
	<%= raw @article.fulltext %>
</div>