<h1><%= t('helpers.password_reset')%></h1>

<%= form_for(:user, :url => "/reset_password/#{params["reset_code"]}") do |f| %>

  <div class="div-field">
    <%= f.label :password, t('field.new_password') %><br />
    <%= f.password_field :password %>
  </div>
  <div class="div-field">
    <%= f.label :password_confirmation, t('field.password_confirm') %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="div-field">
    <%= t('helpers.email_within') %><br />
  </div>
  
<div class="div-actions">
    <%= f.submit t('buttons.reset') %>
</div>

<%= link_to t('buttons.cancel'), root_path %>

<% end %>
<br/><br/>